@CHARSET "utf-8";

body {
	background-color: #f28bbd;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

#main {
	margin-left: 220px; 
}

#leftMenu {
	float: left;
	clear: none;
	width: 200px;
	height: 300px
}

#debugPanel {
	color: gray;
	font-size: 70%;
	border: 2px dashed gray;
	margin-top: 32px;
	clear: both;
}

#debugPanel:before {
	content: "Debug panel";
}

#header {
	height: 100px;
	width: 100%;
	clear: both;
	background-color: #f28bbd);
}

#footer {
	height: 20px;
	width: 100%;
	clear: both;
	background-color: #f28bbd;
}

.listview {
	border: 1px grey solid;
	border-collapse: collapse;
}

.listview th {
	background-color: #ddd;
	text-align: left;
}

.listview td, .listview th {
	padding-left: 2px;
	padding-right: 2px;
	border-left: 1px lightgray dashed;
	border-right: 1px lightgray dashed;
}

.listview th.sortable {
		cursor: pointer;
} 

.form {
	border-spacing: 3px;
	border-collapse: collapse;
}

.form td, .form th {
	padding-left: 2px;
	padding-right: 6px;
}

.message {
	background-color: rgb(255, 156, 221);
	padding: 3px;
	border: red 2px solid;
	margin: 5px 0px;
	font-weight: bold;
}

