<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Wedding</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Wedding GuestList Export Servlet</description>
    <display-name>GuestList</display-name>
    <servlet-name>GuestList</servlet-name>
    <servlet-class>sg.edu.ntu.wedding.GuestList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestList</servlet-name>
    <url-pattern>/GuestList.xls</url-pattern>
    <url-pattern>/GuestList.pdf</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Wedding Guest Importer Servlet</description>
    <display-name>Importer</display-name>
    <servlet-name>Importer</servlet-name>
    <servlet-class>sg.edu.ntu.wedding.Importer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Importer</servlet-name>
    <url-pattern>/Importer</url-pattern>
  </servlet-mapping>
</web-app>